.el-button--default {
    color: #FFFFFF;
    background-color: #bec3c7;
    border-color: #bec3c7;
    &:focus, &:hover {
        color: #FFFFFF;
        border-color: #b0b5b9;
        background-color: #b0b5b9
    }
}

.el-button--primary {
    background-color: #41cac0;
    border-color: #41cac0;
    color: #FFFFFF;
}