body {
    color: #797979;
    background: #f1f2f7;
    font-family: Arial, 'Times New Roman', 'Microsoft YaHei', SimHei, sans-serif;
    padding: 0 !important;
    margin: 0 !important;
    font-size: 13px;
}

html,
body {
    width: 100%;
    height: 100%;
}

a:active, a:hover {
  outline:0
}

a {
  text-decoration:none
}
a:focus, a:hover {
  text-decoration:underline
}
a:focus {
  outline:5px auto -webkit-focus-ring-color;
  outline-offset:-2px
}

/*--sidebar toggle---*/

.sidebar-toggle-box {
    padding-right: 15px;
}

a.logo {
    font-size: 21px;
    color: #2e2e2e;
    text-transform: uppercase;
}

a.logo:hover,
a.logo:focus {
    text-decoration: none;
    outline: none;
}

/*main content*/

#main-content {
    margin-left: 0;
    margin-top: 60px;
}

.header,
.footer {
    min-height: 60px;
    padding: 0 15px;
}

.header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1002;
}

.white-bg {
    background: #fff;
    border-bottom: 1px solid #f1f2f7;
}

.wrapper {
    display: inline-block;
    padding: 20px;
    width: 100%;
}

.top-nav {
}

/*404 page*/

.body-404 {
    background: #18d4cb;
    color: #fff;
}

.error-wrapper {
    text-align: center;
    margin-top: 10%;
}

.error-wrapper .icon-404 {
    background: url("../images/404_icon.png") no-repeat;
    width: 289px;
    height: 274px;
    display: inline-block;
    margin-left: 30px;
}

.error-wrapper h1 {
    font-size: 90px;
    font-weight: 300;
    margin: -50px 0 0 0;
}

.error-wrapper h2 {
    font-size: 20px;
    font-weight: 300;
    margin: 0 0 30px 0;
}

.error-wrapper p,
.error-wrapper p a {
    font-size: 18px;
    font-weight: 300;
}

.error-wrapper p.page-404 {
    color: #7dfff7;
}

.error-wrapper p.page-404 a,
.error-wrapper p.page-500 a,
.error-wrapper p.page-404 a:hover,
.error-wrapper p.page-500 a:hover {
    color: #fff;
}

.table-filter,
.operation-btn-group {
    padding: 15px;
}

.table-filter {
    position: relative;
}

.table-filter label {
    position: absolute;
    top: 23px;
    left: 240px;
}

.table-filter .form-control {
    display: inline-block;
    width: 250px;
}

.table-wrapper th,
.table-wrapper td {
    font-size: 14px !important;
    font-weight: normal;
    border: none !important;
    line-height: 40px;
}

.table-empty {
    padding: 0 0 20px 0;
    text-align: center;
}


.fa-bars{
  cursor: pointer;
}
