/*color-default*/

@default-color: #aaaaaa;
@default-background-color: #dddddd;
@default-border-color: #dddddd;
/*color-default*/

/*default hover*/

@default-hover-color: #aaaaaa;
@default-hover-background-color: #aaaaaa;
@default-hover-border-color: #aaaaaa;
/*default hover*/

/*color-primary*/

@primary-color: #FFFFFF;
@primary-border-color: #41cac0;
@primary-background-color: #41cac0;
/*color-primary*/

/*primary hover*/

@primary-hover-color: #aaaaaa;
@primary-hover-border-color: #ffffff;
@primary-hover-background-color: #dddddd;
/*primary-hover*/
